@model Limdo.Web.App.Models.AppUserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>New Registration Details for App User </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Hidden("UriKey")
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstLineOfAddress" class="control-label"></label>
                <input asp-for="FirstLineOfAddress" class="form-control" />
                <span asp-validation-for="FirstLineOfAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondLineOfAddress" class="control-label"></label>
                <input asp-for="SecondLineOfAddress" class="form-control" />
                <span asp-validation-for="SecondLineOfAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Town" class="control-label"></label>
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.Countries, "UriKey", "CountryName"), "--Select Country--", new { })
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>

                @Html.DropDownListFor(m => m.GenderId, new SelectList(ViewBag.Genders, "UriKey", "Type"), "--Select Gender--", new { })
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="CustomerRelationshipMgs" asp-action="Index">Back to List</a>
</div>

