@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ 
    //Layout = "_LayoutAbout";
    
}




<div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="titleDiv">
                    <h2 class="text-primary">@ViewBag.Title</h2>
                </div>
            </div>
            <hr />
            <br />
            <div class="col-md-12">
                <div class="messageDiv">
                    <h3 class="text-warning">@ViewBag.Message</h3>
                </div>
            </div>
            <br />
            <div class="col-md-10">
                <h6>
                    London Independent Drivers Organisation(LIMDO) is an association formed in November 2019
                    to provide for the interest of all licenced PCO drivers by Transport for London.
                    We are growing in numbers and our support for the welfare and betterment of private hire drivers is commendable.
                </h6>


                <p>
                    On the 3rd of December 2019, we wrote to the Mayor of London to remove congestion charge since it causing
                    finacial hardship on numbers of drivers. In reply it was made known that TFL conducted a consultation exercise prior
                    to the enforcement where only 10,000 responses were received with a majority of those (not mini cab drivers) in
                    support of imposing congestion charge on private hire  drivers. We as licenned drivers were not personally consulted by TFl. Our
                    next task is to get over 10,000 drivers sign a petition to exempt private hire  drivers from congestion charge.
                </p>

                <p>On the 27 of March 2019, we wrote to the Mayor of London on behalf of private hire  drivers requesting for the followings </p>
                <p>Suspension of congestion charge because of the impact of COVID-19 on private hire  drivers</p>
                <p>
                    Guidelines to support private hire  drivers whose licence and MOT checks were due to expire as result
                    of the closure of TFL offices and MOT centres.
                </p>
                <p>
                    Few day later, following our letter, the Mayor's office complied with our request and suggestions made in letter by extending
                    all licences and vehicle MOT due to expire by six months and suspension of congestion charge due to COVID-19
                </p>

                <h4 class="text-warning">Our Aim</h4>
                <h6>With over 114,000 licenced private hire  divers by Transport for London our aim is to:</h6>
                <p>- To bring togetherness among private hire  drives in order to tailor our uniform interest under one umbrella.</p>
                <p>- To liaise with TFL in formulating policies for London private hire  Industry.</p>
                <p>- To prevent finacial hardship on private hire  drivers resulting from TFL policies</p>
                <p>-To work with TFL and private hire  Operators to sanitize London's private hire  Industry for public safety.</p>
                <p>-To advocate on behalf of private hire  driver whose is just been suspended from taking job due to compliant raised by passenger </p>
                <p>- To liaise withinsuranse companies for cheaper insurance for licenced private hire  drivers</p>

                <h6>Together we can request for better conditions from TFL.</h6>
                <h6>United we can also  protect private hire  industry from criminal elements. There is strength in unity</h6>
            </div>
        </div>
    </div>
</div>






