@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Home Page";
 }


<div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a asp-controller="Home" asp-action="About">London Independent Minicab Organisation</a>.</p>
    </div>

</div>
